body {
  background-color: #ffffff;
  color: #000000;
  font-style: italic;
  text-shadow: 0.5px 0.5px 0 #555;
  margin: 2rem;
}
a {
  color: #0066cc;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  text-shadow: 1px 1px 0 #666;
}
